:root {
  --primary-color: #2c18b3;
  --secondary-color: #0ffa00;
  --third-color: #f8f8f8;
  --primary-card-color: #1192e9;
  --secondary-card-color: #ff9203;
  --third-card-color: #8f30dd;
  --primary-button-color: #2100fa;
  --secondary-button-color: #f31010;
  --transiton-style: all ease .3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.confirm, .edit {
  background-color: var(--primary-button-color);
  transition: var(--transiton-style);
}

.confirm:hover, .edit:hover {
  background-color: color-mix(in srgb, var(--primary-button-color) 80%, white);
}

.cancel, .delete {
  background-color: var(--secondary-button-color);
  transition: var(--transiton-style)
}

.cancel:hover, .delete:hover {
  background-color: color-mix(in srgb, var(--secondary-button-color) 80%, white);
}

.head {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.head_title {
  font-size: 1.5rem;
}

.actions {
  padding: 1em;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.actions_button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  border-radius: 1em;
  cursor: pointer;
  transition: var(--transiton-style);
}

.actions_button:hover {
  background-color: var(--primary-card-color);
  color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.search_input {
  width: 13em;
  font-size: 1em;
  padding: 0.5em;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5em;
  outline: none;
  transition: var(--transiton-style);
}

.search_input:focus {
  border: 2px solid var(--primary-card-color);
}

.search_button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transiton-style);
}

.search_button:hover {
  background-color: var(--primary-card-color);
}

.search_button img{
  width: 1.5em;
}

.modal {
  margin: auto;
  width: 25em;
  background-color: color-mix(in srgb, var(--secondary-color) 75%, black);
  color: #fff;
  padding: 1em;
  border: none;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.modal_title {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal_form_label {
  font-weight: 500;
}

.modal_form_input {
  padding: 0.5em;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5em;
  outline: none;
  transition: var(--transiton-style);
}

.modal_form_input:focus {
  border: 2px solid var(--primary-card-color);
}

.modal_form_textarea {
  padding: 0.5em;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5em;
  outline: none;
  resize: none;
  height: 15em;
  transition: var(--transiton-style);
}

.modal_form_textarea:focus {
  border: 2px solid var(--primary-card-color);
}

.modal_form_textarea::placeholder {
  font-style: italic;
}

.modal_form_actions {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.modal_form_button {
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes_info {
  padding: 1em;
  border-radius: 1em;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 17.5em));
  justify-content: center;
  gap: 2em;
}

.notes_info h2 {
  font-size: 1.25rem;
  text-align: center;
  color: var(--primary-color);
}


.note-card {
  height: 12.5em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.note-card:nth-child(5n+1) {
  background-color: var(--primary-card-color);
  color: #ffffff;
}

.note-card:nth-child(5n+2) {
  background-color: var(--secondary-color);
}

.note-card:nth-child(5n+4) {
  background-color: var(--secondary-card-color);
  color: #ffffff;
}

.note-card:nth-child(5n+3) {
  background-color: var(--third-color);
}

.note-card:nth-child(5n+5) {
  background-color: var(--third-card-color);
  color: #ffffff;
}

.note-card_title {
  font-size: 1.25rem;
}

.note-card_description {
  font-size: 1rem;
  word-wrap: break-word;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff1a transparent;
}

.note-card_action {
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 1.75em;
  right: -1em;
}

.note-card_action:last-child{
  top: -1em;
}

.note-card_action img {
  width: 1em;
}

@media screen and (min-width: 21em) {
  .search_input {
    width: 15em;
  }

  .notes_info {
    padding: 2em;
  }
}

@media screen and (min-width: 48em) {
  .modal {
    width: 30em;
  }

  .modal_form_textarea {
    height: 17.5em;
  }

  .notes_info {
    grid-template-columns: repeat(auto-fit, minmax(17.5em, 20em));
  }

  .note-card {
    height: 15em;
  }
}
