.header {
    background-color: var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    padding: 1rem;
}

.App__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    z-index: 1;
}

.new-note-button {
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 0.5em 1em;
    border: none;
    border-radius:0.5em;
    cursor: pointer;
    transition: var(--transiton-style);
}

.new-note-button:hover {
    background-color: color-mix(in srgb, var(--primary-color) 75%, #ffffff);
}

.App__notes {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 17.5em));
    justify-content: center;
    gap: 3em;
    padding: 1em;
    z-index: 0;
}

@media screen and (min-width: 48em){
    .App__notes {
        padding: 3em;
    }
}